In [4]:
# from statsmodels.regression.rolling import RollingOLS
# import pandas_datareader.data as web
# import matplotlib.pyplot as plt
# import statsmodels.api as sm
# import pandas as pd
# import numpy as np
# import datetime as dt
# import yfinance as yf
# import pandas_ta
# import warnings
# warnings.filterwarnings('ignore')

# sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

# sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

# symbols_list = sp500['Symbol'].unique().tolist()

# end_date = '2024-05-11'

# start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

# df = yf.download(tickers=symbols_list,
#                  start=start_date,
#                  end=end_date).stack()

# df.index.names = ['date', 'ticker']

# df.columns = df.columns.str.lower()


# # Calculate features and technical indicators per stock
# # Garman-Klass Volatility
# # RSI
# # Bollinger Bands
# # ATR
# # MACD
# # Dollar Volume

# df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)

# df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

# df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])
                                                          
# df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])
                                                          
# df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

# def compute_atr(stock_data):
#     atr = pandas_ta.atr(high=stock_data['high'],
#                         low=stock_data['low'],
#                         close=stock_data['close'],
#                         length=14)
#     return atr.sub(atr.mean()).div(atr.std())

# df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_atr)

# def compute_macd(close):
#     macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
#     return macd.sub(macd.mean()).div(macd.std())

# df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

df

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.483557   33.740002   34.060001   33.240002   33.360001
           AAL      37.361629   39.180000   39.770000   38.790001   39.049999
           AAPL     24.651134   27.264999   28.377501   26.965000   28.207500
           ABBV     36.334888   52.790001   54.189999   51.880001   53.099998
           ABT      33.478706   39.500000   40.150002   39.029999   39.259998
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      88.968475   89.519997   90.849998   89.500000   90.379997
           YUM     122.811577  124.010002  124.739998  123.449997  124.239998
           ZBH     111.782722  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     175.547714  176.869995  178.449997  176.270004  176.580002

Price                   volume  garman_klass_vol        rsi    bb_low  \
date       ticker
2015-09-29 A         2252400.0         -0.000998        NaN       NaN
           AAL       7478800.0         -0.000443        NaN       NaN
           AAPL    293461600.0         -0.005712        NaN       NaN
           ABBV     12842800.0         -0.054656        NaN       NaN
           ABT      12287500.0         -0.009402        NaN       NaN
...                        ...               ...        ...       ...
2023-09-26 XYL       1322400.0          0.000016  26.146751  4.488345
           YUM       1500600.0          0.000002  36.057182  4.816569
           ZBH       3610500.0          0.000099  31.893231  4.748085
           ZBRA       355400.0          0.000133  29.494977  5.400991
           ZTS       1463200.0          0.000062  42.623488  5.156108

Price                bb_mid   bb_high       atr      macd  dollar_volume
date       ticker
2015-09-29 A            NaN       NaN       NaN       NaN      70.913563
           AAL          NaN       NaN       NaN       NaN     279.420155
           AAPL         NaN       NaN       NaN       NaN    7234.161370
           ABBV         NaN       NaN       NaN       NaN     466.641705
           ABT          NaN       NaN       NaN       NaN     411.369604
...                     ...       ...       ...       ...            ...
2023-09-26 XYL     4.570270  4.652196  0.033800 -2.159188     117.651912
           YUM     4.846536  4.876502  0.142547 -1.363696     184.291052
           ZBH     4.787752  4.827420 -0.381708 -0.881067     403.591519
           ZBRA    5.539167  5.677342 -0.057389 -1.600791      79.595386
           ZTS     5.214922  5.273735  0.651515 -1.188278     256.861415

[988898 rows x 14 columns]