In [12]:
# from statsmodels.regression.rolling import RollingOLS
# import pandas_datareader.data as web
# import matplotlib.pyplot as plt
# import statsmodels.api as sm
# import pandas as pd
# import numpy as np
# import datetime as dt
# import yfinance as yf
# import pandas_ta

# import warnings
# warnings.filterwarnings('ignore')

# sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

# sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

# symbols_list = sp500['Symbol'].unique().tolist()

# end_date = '2023-09-27'

# start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

# df = yf.download(tickers=symbols_list,
#                  start=start_date,
#                  end=end_date).stack()

# df.index.names = ['date', 'ticker']

# df.columns = df.columns.str.lower()

# df

In [13]:
# Calculate features and technical indicators per stock
# Garman-Klass Volatility
# RSI
# Bollinger Bands
# ATR
# MACD
# Dollar Volume

df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)

df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])
                                                          
df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])
                                                          
df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

def compute_atr(stock_data):
    atr = pandas_ta.atr(high=stock_data['high'],
                        low=stock_data['low'],
                        close=stock_data['close'],
                        length=14)
    return atr.sub(atr.mean()).div(atr.std())

df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_atr)

def compute_macd(close):
    macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
    return macd.sub(macd.mean()).div(macd.std())

df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

In [14]:
# Filter top 150 most liquid stocks for each month

last_cols = [c for c in df.columns.unique(0) if c not in ['dollar_volume', 'volume', 'open',
                                                          'high', 'low', 'close']]

data = (pd.concat([df.unstack('ticker')['dollar_volume'].resample('M').mean().stack('ticker').to_frame('dollar_volume'),
                   df.unstack()[last_cols].resample('M').last().stack('ticker')],
                  axis=1)).dropna()

data

                   dollar_volume   adj close  garman_klass_vol        rsi  \
date       ticker
2015-11-30 A          135.992828   39.023178         -0.001992  73.421414
           AAL        287.915788   39.429935         -0.000966  40.719012
           AAPL      4023.983957   26.854143         -0.003307  55.537380
           ABBV       337.563918   40.393539         -0.059549  49.376907
           ABT        211.659054   38.293564         -0.011216  56.962555
...                          ...         ...               ...        ...
2023-09-30 OTIS       154.983158   78.671936         -0.000020  33.116219
           ABNB      1633.500725  132.279999          0.000213  44.494127
           CEG        196.971016  108.026917          0.000171  55.245482
           GEHC       212.275852   66.130219          0.000185  40.922338
           KVUE       670.804304   20.006193         -0.000159  35.706312

                     bb_low    bb_mid   bb_high       atr      macd
date       ticker
2015-11-30 A       3.545992  3.618440  3.690888 -1.033887  0.567156
           AAL     3.672028  3.749832  3.827635  0.190822 -0.418772
           AAPL    3.281679  3.324991  3.368302 -0.967900 -0.142789
           ABBV    3.726695  3.774943  3.823191 -0.526809  0.145677
           ABT     3.656055  3.677909  3.699763 -1.064842  0.335558
...                     ...       ...       ...       ...       ...
2023-09-30 OTIS    4.374104  4.419394  4.464683 -1.028320 -1.534536
           ABNB    4.857047  4.940924  5.024801 -1.006939 -0.037854
           CEG     4.653660  4.693834  4.734007 -0.436215  0.366876
           GEHC    4.155436  4.212972  4.270508 -0.893478 -1.116463
           KVUE    3.014275  3.089221  3.164168 -0.899746 -1.435621

[46692 rows x 9 columns]

In [15]:
# Calulate the 5 year rolling average dollar volume for each stock 

data['dollar_volume'] = (data.loc[:, 'dollar_volume'].unstack('ticker').rolling(5*12, min_periods=12).mean().stack())

data['dollar_vol_rank'] = (data.groupby('date')['dollar_volume'].rank(ascending=False))

data = data[data['dollar_vol_rank']<150].drop(['dollar_volume', 'dollar_vol_rank'], axis=1)

data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2016-10-31 AAL      39.134327         -0.000176  62.203519  3.604673
           AAPL     26.212471         -0.002468  49.891046  3.294237
           ABBV     40.245121         -0.046691  27.477809  3.753446
           ABT      34.293457         -0.007492  38.008861  3.554632
           ACN     103.569618         -0.004643  53.823646  4.637342
...                       ...               ...        ...       ...
2023-09-30 WMT      53.783058         -0.000011  54.722524  3.988367
           XOM     114.292961          0.000026  59.440189  4.695106
           MRNA     98.120003          0.000146  38.747314  4.582514
           UBER     44.270000          0.000441  45.005268  3.806654
           ABNB    132.279999          0.000213  44.494127  4.857047

                     bb_mid   bb_high       atr      macd
date       ticker
2016-10-31 AAL     3.655494  3.706314  0.402199  1.131596
           AAPL    3.323117  3.351997 -1.038688 -0.195978
           ABBV    3.807610  3.861774 -0.893132 -0.760593
           ABT     3.605106  3.655580 -1.035224 -0.650889
           ACN     4.648980  4.660617 -0.996806 -0.135457
...                     ...       ...       ...       ...
2023-09-30 WMT     4.005838  4.023309 -0.196381  0.399458
           XOM     4.735205  4.775304  0.601335  1.400623
           MRNA    4.685332  4.788149 -0.529511 -0.376899
           UBER    3.862227  3.917801 -0.746098 -0.133973
           ABNB    4.940924  5.024801 -1.006939 -0.037854

[12516 rows x 8 columns]

In [16]:
# Calculate monthly returns for different horizon as features

# Use lags for 1, 2, 3, 6, 9, 12 months gives 6 different lags

def calculate_returns(df):

    outlier_cutoff = 0.005

    lags = [1, 2, 3, 6, 9, 12]

    for lag in lags:

        df[f'return_{lag}m'] = (df['adj close']
                              .pct_change(lag)
                              .pipe(lambda x: x.clip(lower=x.quantile(outlier_cutoff),
                                                     upper=x.quantile(1-outlier_cutoff)))
                              .add(1)
                              .pow(1/lag)
                              .sub(1))
    return df
    
    
data = data.groupby(level=1, group_keys=False).apply(calculate_returns).dropna()

data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2017-10-31 AAL      45.534164         -0.000363  41.051759  3.849110
           AAPL     39.713898         -0.001055  69.196686  3.594730
           ABBV     67.491165         -0.034008  55.247942  4.196702
           ABT      48.493382         -0.005190  53.844927  3.892568
           ACN     129.399704         -0.003925  69.365140  4.802675
...                       ...               ...        ...       ...
2023-09-30 WMT      53.783058         -0.000011  54.722524  3.988367
           XOM     114.292961          0.000026  59.440189  4.695106
           MRNA     98.120003          0.000146  38.747314  4.582514
           UBER     44.270000          0.000441  45.005268  3.806654
           ABNB    132.279999          0.000213  44.494127  4.857047

                     bb_mid   bb_high       atr      macd  return_1m  \
date       ticker
2017-10-31 AAL     3.921750  3.994389  1.011062 -0.018697  -0.014108
           AAPL    3.641602  3.688475 -0.906642 -0.039276   0.096808
           ABBV    4.243063  4.289423  0.375557  0.473815   0.022728
           ABT     3.916137  3.939707 -1.040044  0.276134   0.021276
           ACN     4.842354  4.882034 -0.986514  0.352342   0.064180
...                     ...       ...       ...       ...        ...
2023-09-30 WMT     4.005838  4.023309 -0.196381  0.399458  -0.000676
           XOM     4.735205  4.775304  0.601335  1.400623   0.046947
           MRNA    4.685332  4.788149 -0.529511 -0.376899  -0.132219
           UBER    3.862227  3.917801 -0.746098 -0.133973  -0.062672
           ABNB    4.940924  5.024801 -1.006939 -0.037854   0.005549

                   return_2m  return_3m  return_6m  return_9m  return_12m
date       ticker
2017-10-31 AAL      0.022981  -0.023860   0.016495   0.007008    0.012702
           AAPL     0.015250   0.044955   0.028875   0.038941    0.035228
           ABBV     0.098590   0.091379   0.056495   0.047273    0.044026
           ABT      0.034308   0.034801   0.038672   0.031320    0.029294
           ACN      0.048454   0.037202   0.028692   0.027398    0.018728
...                      ...        ...        ...        ...         ...
2023-09-30 WMT      0.010014   0.012354   0.017574   0.016553    0.020256
           XOM      0.046139   0.030496   0.012838   0.008747    0.027037
           MRNA    -0.086803  -0.068763  -0.071952  -0.064976   -0.015431
           UBER    -0.053920   0.008422   0.057244   0.066838    0.043691
           ABNB    -0.067704   0.010603   0.010289   0.049124    0.019401

[10346 rows x 14 columns]

In [17]:
# Download Fama-French factors and calculate rolling factor betas

factor_data = web.DataReader('F-F_Research_Data_5_Factors_2x3',
                               'famafrench',
                               start='2010')[0].drop('RF', axis=1)

factor_data.index = factor_data.index.to_timestamp()

factor_data = factor_data.resample('M').last().div(100)

factor_data.index.name = 'date'

factor_data = factor_data.join(data['return_1m']).sort_index()

factor_data

                   Mkt-RF     SMB     HML     RMW     CMA  return_1m
date       ticker
2017-10-31 AAL     0.0225 -0.0194  0.0020  0.0093 -0.0325  -0.014108
           AAPL    0.0225 -0.0194  0.0020  0.0093 -0.0325   0.096808
           ABBV    0.0225 -0.0194  0.0020  0.0093 -0.0325   0.022728
           ABT     0.0225 -0.0194  0.0020  0.0093 -0.0325   0.021276
           ACN     0.0225 -0.0194  0.0020  0.0093 -0.0325   0.064180
...                   ...     ...     ...     ...     ...        ...
2023-09-30 VRTX   -0.0524 -0.0180  0.0152  0.0186 -0.0083   0.009617
           VZ     -0.0524 -0.0180  0.0152  0.0186 -0.0083  -0.056890
           WFC    -0.0524 -0.0180  0.0152  0.0186 -0.0083  -0.015500
           WMT    -0.0524 -0.0180  0.0152  0.0186 -0.0083  -0.000676
           XOM    -0.0524 -0.0180  0.0152  0.0186 -0.0083   0.046947

[10346 rows x 6 columns]

In [18]:
# Filtering out stocks with less than 10 months of data, as will break our model

observations = factor_data.groupby(level=1).size()

valid_stocks = observations[observations >= 10]

factor_data = factor_data[factor_data.index.get_level_values('ticker').isin(valid_stocks.index)]

factor_data

                   Mkt-RF     SMB     HML     RMW     CMA  return_1m
date       ticker
2017-10-31 AAL     0.0225 -0.0194  0.0020  0.0093 -0.0325  -0.014108
           AAPL    0.0225 -0.0194  0.0020  0.0093 -0.0325   0.096808
           ABBV    0.0225 -0.0194  0.0020  0.0093 -0.0325   0.022728
           ABT     0.0225 -0.0194  0.0020  0.0093 -0.0325   0.021276
           ACN     0.0225 -0.0194  0.0020  0.0093 -0.0325   0.064180
...                   ...     ...     ...     ...     ...        ...
2023-09-30 VRTX   -0.0524 -0.0180  0.0152  0.0186 -0.0083   0.009617
           VZ     -0.0524 -0.0180  0.0152  0.0186 -0.0083  -0.056890
           WFC    -0.0524 -0.0180  0.0152  0.0186 -0.0083  -0.015500
           WMT    -0.0524 -0.0180  0.0152  0.0186 -0.0083  -0.000676
           XOM    -0.0524 -0.0180  0.0152  0.0186 -0.0083   0.046947

[10317 rows x 6 columns]

In [19]:
# Now calculate rolling factor betas

betas = (factor_data.groupby(level=1,
                            group_keys=False)
         .apply(lambda x: RollingOLS(endog=x['return_1m'], 
                                     exog=sm.add_constant(x.drop('return_1m', axis=1)),
                                     window=min(24, x.shape[0]),
                                     min_nobs=len(x.columns)+1)
         .fit(params_only=True)
         .params
         .drop('const', axis=1)))

betas

                     Mkt-RF       SMB       HML       RMW       CMA
date       ticker
2017-10-31 AAL          NaN       NaN       NaN       NaN       NaN
           AAPL         NaN       NaN       NaN       NaN       NaN
           ABBV         NaN       NaN       NaN       NaN       NaN
           ABT          NaN       NaN       NaN       NaN       NaN
           ACN          NaN       NaN       NaN       NaN       NaN
...                     ...       ...       ...       ...       ...
2023-09-30 VRTX    0.456426 -0.445902 -0.312668 -0.079430  0.800286
           VZ      0.332655 -0.165645  0.267344  0.310365  0.106901
           WFC     1.121747  0.300520  2.061533 -0.439491 -1.517557
           WMT     0.700557 -0.315600 -0.413434 -0.142906  0.508472
           XOM     0.983511 -1.093760  1.756776 -0.640868 -0.368454

[10317 rows x 5 columns]

In [20]:
factors = ['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']

data = (data.join(betas.groupby('ticker').shift()))

data.loc[:, factors] = data.groupby('ticker', group_keys=False)[factors].apply(lambda x: x.fillna(x.mean()))

data = data.drop('adj close', axis=1)

data = data.dropna()

data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10136 entries, (Timestamp('2017-10-31 00:00:00'), 'AAL') to (Timestamp('2023-09-30 00:00:00'), 'UBER')
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   garman_klass_vol  10136 non-null  float64
 1   rsi               10136 non-null  float64
 2   bb_low            10136 non-null  float64
 3   bb_mid            10136 non-null  float64
 4   bb_high           10136 non-null  float64
 5   atr               10136 non-null  float64
 6   macd              10136 non-null  float64
 7   return_1m         10136 non-null  float64
 8   return_2m         10136 non-null  float64
 9   return_3m         10136 non-null  float64
 10  return_6m         10136 non-null  float64
 11  return_9m         10136 non-null  float64
 12  return_12m        10136 non-null  float64
 13  Mkt-RF            10136 non-null  float64
 14  SMB               10136 non-null  float64
 15  HML               10136 non-null  float64
 16  RMW               10136 non-null  float64
 17  CMA               10136 non-null  float64
dtypes: float64(18)
memory usage: 1.4+ MB

In [ ]:
# Fitting a KMeans clutstering algorithim for each month, will split stocks into four clusters

from sklearn.cluster import KMeans

def get_clusters(data):
    data['cluster'] = KMeans(n_clusters=4,
                             random_state=0,
                             init='random').fit(data).labels_
    return data

data = data.dropna().groupby('date', group_keys=False).apply(get_clusters)

data